<h1>Welcome to ProPro</h1>
<p>
A staff member has invited and enrolled you into a ProPro course, your OTP is: <strong><%= @otp %></strong>.<br>
To claim your account visit: https://domain.com/user/new_staff?token=<%= @otp_token %>
</p>
<p><strong>Do not share this information with a third-party.</strong></p>
