<h1>Welcome to ProPro</h1>
<p>
As requested, your OTP is: <strong><%= @otp_instance.otp %></strong>.<br>
</p>
<p><strong>Note:</strong> Please ignore this email if this request wasn't performed by you.</p>
