<h1>Welcome to ProPro</h1>
<p>
A lecturer has imported your account into ProPro, your OTP is: <strong><%= @otp %></strong>.<br>
To claim your account visit: https://domain.com/user/new_student?token=<%= @otp_token %>
</p>
<p><strong>Do not share this information with a third-party.</strong></p>
