<% content_for :title, "ProPro - About" %>

<h1>About ProPro</h1>

<p>Project-based learning is a powerful tool for education, but involving students when definiting topics and problems for their own projects can often be a source of frustration. The traditional back-and-forth between students and lecturers, conducted over email or online forms, can be confusing, unstructured, and difficult to manage at scale. We saw this challenge firsthand and knew there had to be a better way.</p>

<h2>The Story Behind ProPro</h2>

<p>ProPro was born from a simple idea: to streamline academic <strong>pro</strong>ject <strong>pro</strong>posal management, empowering students and educators to focus on what truly matters—learning and innovation.</p>

<p>This application was ideated and brought to life as a passion project in 2025 within the makerspace environment of <strong>Hackerspace MMU</strong>. While ProPro is an independent creation and not officially affiliated with the organisation, we are proud of our roots in a community of problem-solvers and builders.</p>

<h2>What We Do</h2>

<p>ProPro is a configurable system designed to simplify the project proposal process. It provides a dedicated platform where students can submit their project topics and outlines, and lecturers can review them. The system allows for clear, structured feedback, enabling lecturers to:</p>

<ul>
    <li>Approve or reject project proposals, or request for revisions.</li>
    <li>Track changes to a proposal over time.</li>
    <li>Provide feedback to students on their proposals.</li>
    <li>Create configurable forms to request details for all manner of assignments or projects.</li>
    <li>Help load balance when multiple supervisors are involved by showing live data on supervisor load.</li>
    <li>Use the system for both single-lecturer small essay assignments as well as large capstone projects involving multiple supervisors</li>
</ul>

<h2>Our Mission</h2>

<p>Our mission is to make it easier to bring student voice and choice into classrooms implementing projects and project-based learning. We believe that by addressing the communication gap in problem definition we can help project-based learning more relevant and effective. After all, we're not teaching students to solve problems through projects if we only give them narrow, well-defined problems with well-defined solutions already built-in. By providing the right tools, we hope to help both students and lecturers navigate the project proposal process with clarity and confidence</p>

<h2>Ready to get started?</h2>

<p>Create an account and explore the system to see how ProPro can transform your project proposal workflow.</p>

<p>Return to <%= link_to "ProPro", root_path %>.</p>