<% content_for :title, "About | ProPro" %>
<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "tailwind", "new_tailwind" %>
<% end %>

<% content_for :hide_toggler, true %>
<% content_for :hide_breadcrumbs, true %>

<div class="pt-2 pb-8 px-8 w-full lg:w-10/12 xl:w-8/12 mx-auto">
  <h1 class="font-bold text-3xl text-center p-4 mb-2">About ProPro</h1>

  <p>Project-based learning is a powerful tool for education, but involving
    students when definiting topics and problems for their own projects can
    often be a source of frustration. The traditional back-and-forth between
    students and lecturers, conducted over email or online forms, can be
    confusing, unstructured, and difficult to manage at scale. We saw this
    challenge firsthand and knew there had to be a better way.</p>

  <div class="mt-6 flex flex-col gap-6 items-center">

    <div>
      <h2 class="font-bold text-xl mb-2">The Story Behind ProPro</h2>

      <p class="mb-1">ProPro was born from a simple idea: to streamline academic
        <strong>pro</strong>ject
        <strong>pro</strong>posal management, empowering students and educators to focus on what
        truly matters—learning and innovation.</p>

      <p>This application was ideated and brought to life as a passion project
        in 2025 within the makerspace environment of
        <strong>Hackerspace MMU</strong>. While ProPro is an independent creation and not officially affiliated
        with the organisation, we are proud of our roots in a community of
        problem-solvers and builders.</p>

    </div>
    <div>
      <h2 class="font-bold text-xl mb-2">What We Do</h2>

      <p>ProPro is a configurable system designed to simplify the project
        proposal process. It provides a dedicated platform where students can
        submit their project topics and outlines, and lecturers can review
        them. The system allows for clear, structured feedback, enabling
        lecturers to:</p>

      <ul class="mt-2 space-y-3 list-disc list-outside ml-10 leading-relaxed">
        <li>Approve or reject project proposals, or request for revisions.</li>
        <li>Track changes to a proposal over time.</li>
        <li>Provide feedback to students on their proposals.</li>
        <li>Create configurable forms to request details for all manner of
          assignments or projects.</li>
        <li>Help load balance when multiple supervisors are involved by showing
          live data on supervisor load.</li>
        <li>Use the system for both single-lecturer small essay assignments as
          well as large capstone projects involving multiple supervisors</li>
      </ul>

    </div>
    <div>
      <h2 class="font-bold text-xl mb-2">Our Mission</h2>

      <p>Our mission is to make it easier to bring student voice and choice into
        classrooms implementing projects and project-based learning. We believe
        that by addressing the communication gap in problem definition we can
        help project-based learning more relevant and effective. After all,
        we're not teaching students to solve problems through projects if we
        only give them narrow, well-defined problems with well-defined
        solutions already built-in. By providing the right tools, we hope to
        help both students and lecturers navigate the project proposal process
        with clarity and confidence</p>

    </div>
    <div class="w-full">
      <h2 class="font-bold text-xl mb-2">Ready to get started?</h2>

      <p>Create an account and explore the system to see how ProPro can
        transform your project proposal workflow.</p>

    </div>
    <div class="mt-2">
      <p>
        <a href="/" class="text-lg text-gray-500 hover:text-green-600 font-medium">
          &larr;Return to ProPro
        </a>
      </p>
    </div>
  </div>
</div>
