<div class="relative z-50">
  <div class="flex justify-end">
    <button type="button" data-action="click->overlay#open" class="px-4 py-2 bg-gray-200 hover:bg-gray-300 text-gray-800 text-sm font-medium rounded shadow-sm">
      Reuse details from another topic
    </button>
  </div>
</div>