<div class="topbar">
  <a href="#home"><%= user.username %>'s Course View</a>
  <div class="topbar-actions">
    <a href="#settings" class="topbar-icon" title="Settings">
      <%= image_tag "settings.svg" %>
      <span class="topbar-info">Course Settings</span>
    </a>
    <a href="#project_templates" class="topbar-icon" title="Edit Project Template">
      <%= image_tag "project_templates.svg" %>
      <span class="topbar-info">Edit Project Templates</span>
    </a>
  </div>
</div>
