<h1>Topics for <%= @course.course_name %></h1>

<ul>

  <% @projects.each do |project| %>
    <li>
      <p> <strong> Topic: </strong> <%= link_to project.project_instances.order(version: :desc).first&.title || "Untitled Topic",
                  course_topic_path(@course, project) %> </p>
      <p> <strong>Lecturer: </strong> <%= project.supervisor.user.username %></p>

    </li>
  <% end %>

</ul>