<div
  class="
    fixed top-0 left-0 z-[100] flex h-[70px] w-full items-center justify-between
    overflow-hidden bg-[#e1e1e1]
  ">

  <%= link_to "ProPro",
  root_path,
  class: "shrink-0 px-5 py-5 text-[25px] font-bold text-black no-underline" %>

</div>
