<div class="w-full space-y-8">
  <div
    class="
      bg-white rounded-xl divide-y divide-gray-100 border border-gray-100 shadow-sm
      overflow-hidden
    "
  >
    <% fields.each do |field| %>

      <div
        class="
          grid grid-cols-[120px_1fr] md:grid-cols-3 group hover:bg-gray-50/50
          transition-colors
        "
      >

        <%# Field Label %>
        <div
          class="
            p-4 md:p-6 md:col-span-1 bg-gray-50/30 border-r border-gray-100 flex
            items-center md:items-start
          "
        >
          <h4
            class="
              text-xs md:text-sm font-bold text-gray-700 uppercase tracking-wide
              leading-relaxed break-words
            "
          >
            <%= field.project_template_field.label %>
          </h4>
        </div>

        <%# Field Value %>
        <div
          class="
            p-4 md:p-6 md:col-span-2 text-gray-900 leading-relaxed break-words text-base
            md:text-lg font-medium
          "
        >
          <% if field.value.present? %>
            <% if field.project_template_field.dropdown? || field.project_template_field.radio?
              begin
                parsed_value = JSON.parse(field.value)
                display_value =
                  parsed_value.is_a?(Array) ? parsed_value.join(", ") : parsed_value
              rescue JSON::ParserError
                display_value = field.value
              end
            else
              display_value = field.value
            end %>
            <%= display_value %>
          <% else %>
            <span class="text-gray-400 italic font-normal text-sm">No content provided</span>
          <% end %>
        </div>
      </div>
    <% end %>

    <div
      class="
        bg-gray-50/80 p-4 text-md text-gray-500 font-medium border-t border-gray-100
        flex items-center gap-2
      "
    >
      Based on Topic:
      <span class="text-gray-700 font-semibold"><%= based_on_topic_name || "Own Proposal" %></span>
    </div>
  </div>
</div>
