<section class="project-actions">
  <div class="action-group">
    <!-- Student Edit Actions -->
    <% if members.include?(current_user) %>
      <% if project.status != "approved" && current_version == latest_version %>
        <div class="action-note"> Latest Version </div> <%= link_to "Edit Proposal", edit_course_project_path(course, project) %> <%= image_tag("edit.svg") %>
      <% else %>
        <span class="action-note"><%= image_tag("lock.svg") %> Unable to Edit Project</span>
      <% end %>
    <% end %>
    
    <!-- Version Jump -->
    <% if current_version != latest_version %>
      <%= link_to "Jump to Current Version", course_project_path(course, project) %>
    <% end %>
  </div>
</section>
