  <section class="project-fields">
    <header class="section-header">
      <% if show_progress_tab? %>
        <nav class="project-tabs">
          <h2><%= link_to "Project Details", 
                  course_project_path(course, project, tab: 'details'),
                  class: "section-title #{'active' if current_tab == 'details'}" %></h2>
          <h2><%= link_to "Progress Updates", 
                  course_project_path(course, project, tab: 'progress'),
                  class: "section-title #{'active' if current_tab == 'progress'}" %></h2>
        </nav>
      <% else %>
          <h2 class="section-title">Project Details</h2>
      <% end %>
    </header>
  
    <div class="tab-content">
      <% if current_tab == 'details' %>
        <%= render 'project_details', fields: fields, based_on_topic_name: based_on_topic_name %>
      <% elsif current_tab == 'progress' %>
      <%= render 'progress_updates', progress_updates: @progress_updates %>
      <% end %>
    </div>
  </section>
