<ul class="flex fixed bg-[#b5b5b5] top-13 left-0 w-full h-9 z-5 items-center text-sm font-bold">
  <li class="hover:bg-[#efefef] px-4.5 py-2"><%= link_to "Dashboard", root_path %></li>
  <li class="hover:bg-[#efefef] px-4.5 py-2"><%= link_to "Course", course_path(@course) %></li>
</ul>