<div data-controller="overlay" class="relative z-50">
    <div class="flex justify-end">
        <button type="button" data-action="click->overlay#open" class="px-4 py-2 bg-gray-200 hover:bg-gray-300 text-gray-800 text-sm font-medium rounded shadow-sm">
            Reuse details from another course
        </button>
    </div>

    <div data-overlay-target="menu"
        class="fixed inset-0 z-[60] flex items-start justify-center pt-20 bg-black/50 transition-opacity duration-300 opacity-0 pointer-events-none">
        
        <div class="bg-white rounded-xl shadow-2xl w-9/12 min-h-[85vh] flex flex-col p-10 relative">
            
            <div class="mb-6">
                <h3 class="text-3xl font-bold text-gray-600">Select a Course to Copy</h3>
            </div>

            <div data-overlay-target="content" class="flex-grow">
            </div>

            <div class="mt-6 flex justify-end">
                <button type="button" 
                        data-action="click->overlay#close"
                        class="text-red-600 hover:text-red-800 text-sm font-medium">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>
