<div>
    <ul>
        <li><%= link_to "Terms of Service", new_password_path %> </li>
        <li><%= link_to "Privacy Policy", new_password_path %></li>
        <li><%= link_to "About", new_password_path %></li>
    </ul>
</div>