<section class="flex justify-end content-center bg-[#2bb8f0] px-8 py-2">
    <ul class="flex flex-row gap-3 text-[#373952] font-semibold">
        <li>Copyright ProPro</li>
        <li><%= link_to "Terms of Service", terms_of_service_path %> </li>
        <li><%= link_to "Privacy Policy", privacy_policy_path %></li>
        <li><%= link_to "About", about_path %></li>
    </ul>
</section>