<h4>Proposal Status</h4>
<div class="progress-container">
  <div class="progress" id="progress"></div>
  <% %w[pending redo in_review approved].each do |status| %>
    <div class="step <%= project&.status == status ? 'active' : '' %>">
      <div class="circle"><%= image_tag("#{status}.svg") %></div>
      <div class="label"><%= status.humanize %></div>
    </div>
  <% end %>
</div>