
  <ul>
    <b><%= project_instance.title %></b><br>
    <b>
      <% image_tag"person_grey.svg" %> 
      <%= project.ownership.owner.respond_to?(:username) ?
            project.ownership.owner.username :
            project.ownership.owner.group_name %>
    </b>
    <ul>
      <li class="project-card inner">
        <% fields = project_instance.project_instance_fields
          .joins(:project_template_field)
          .order(:id) 
        %>

        <% display_parts = [] %>

        <% first_field = fields[0] %>
        <% first_max_chars = 170 %>
        <% if first_field && first_field.project_template_field.textarea? %>
          <% content = first_field.value.to_s.strip %>
          <% display_parts << content.truncate_words(90) %>
        <% else %>
          <% if first_field && (first_field.project_template_field.shorttext? || first_field.project_template_field.dropdown? || first_field.project_template_field.radio?) %>
            <% display_parts << first_field.value.to_s.strip %>
          <% end %>
        <% end %>

        <% second_field = fields[1] %>
        <% second_max_chars = 135 %>

        <% if (second_field && second_field.project_template_field.textarea?) && !first_field.project_template_field.textarea? %>
          <% content = second_field.value.to_s.strip %>
          <% display_parts << content.truncate_words(90) %>
        <% else %>
          <% if second_field && (second_field.project_template_field.shorttext? || second_field.project_template_field.dropdown? || second_field.project_template_field.radio?) %>
            <% content = second_field.value.to_s.strip %>
            <% display_parts << (content.length > second_max_chars ? content[0, second_max_chars] + "..." : content) %>
          <% end %>
        <% end %>


        <% third_field = fields[2] %>
        <% third_max_chars = 90 %>
        <% if (third_field && third_field.project_template_field.textarea?) && !second_field.project_template_field.textarea? %>
          <% content = third_field.value.to_s.strip %>
          <% display_parts << content.truncate_words(90) %>
        <% else %>
          <% if third_field && (third_field.project_template_field.shorttext? || third_field.project_template_field.dropdown? || third_field.project_template_field.radio?) %>
            <% display_parts << third_field.value.to_s.strip %>
          <% end %>
        <% end %>

        <% preview = display_parts.join("<br>") %>
        <p class="text"><%= raw(preview) %></p>
      </li>
    </ul>
  </ul>

