<aside>
  <nav>
    <h3>Sidebar</h3>
      <ul>
        <li><a href="#guidelines">Proposal Guidelines</a></li>
        <li><a href="#supervisors">Supervisors Available</a></li>
        <li><a href="#topics">Topics</a></li>
        <li><a href="#participants">Participants</a></li>
      </ul>
  </nav>
</aside>