body {
    background-color: #efefef;
    font-family: 'Inter', sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* page (keith) */

.course-header {
    margin-bottom: 20px;
}

.main {
    margin-top: 120px;
    margin-left: 300px;
    margin-right: 60px;
    font-size: 28px;
    padding: 10px 0px;
    flex: auto;
}

.signin_main {
    align-self: center;
    align-items: center;
    width: 60%;
    margin: 300px;
    margin-top: 150px;
}

.remindergap {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.icon {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.container {
    border-radius: 10px;
    width: 100%;
    padding: 15px;
    background-color: #f8f9fa;
    margin-bottom: 20px;
}

.section-description {
    color: #454343;
    opacity: 0.7;
}

.empty-state {
    margin-top: 10px;
}

.proposal-guidelines a {
  text-decoration: none;
  color: inherit;
  width: max-content;
}


.project-file {
    color: #313848;
    display: inline-block;
    flex-wrap: wrap;
    z-index: 0;
    width: 190px;
    height: 80px;
    font-size: 14px;
    border-radius: 12px;
    border: 2px solid #ebf0f9;
    overflow: hidden;
    margin-top: 20px;
    text-decoration: none;
    flex-direction: column;
    align-items: flex-start; 
    justify-content: flex-start; 
    padding: 20px; 
}

.project-file:hover {
    background-color: #ffffff;
    transition: background-color 0.2s ease-in-out;
}

.file-icon {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
    width: 40px;
    height: 40px;
    background-color: #399be2;
    border-radius: 10px;
}

.file-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    width: 100%;
    font-size: 18px;
    margin-top: 4px;
}


/* progress container (alex) */

.status-bar-header {
    margin-left: 16px;
}

.status-bar-container {
    background-color: inherit;
    margin-bottom: 30px;
    margin-top: 30px;
}

.progress-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    max-width: 100%;
    width: 550px;
    height: 60px;
    margin: auto;
    margin-bottom: 20px;
}

.progress-container::before {
    content: "";
    background-color: #8E8E8E;
    position: absolute;
    top: 20px;
    left: 0;
    height: 2px;
    width: 100%;
    z-index: 1;
}

.progress {
    background-color: #8E8E8E;
    position: absolute;
    top: 20px;
    left: 0;
    height: 4px;
    width: 0%;
    z-index: 2;
    transition: 0.4s ease;
}

.step {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 3;
}

.circle {
    background-color: #fff;
    color: #999;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #8E8E8E;
    transition: 0.4s ease;
    margin-bottom: 8px;
    position: absolute;
    top: 12.5px;
    left: 50%;
    transform: translateX(-50%);
}

.circle img {
    width: 12px;
    height: 12px;
    display: none;
}

.step.active .circle img {
    display: block;
    width: 24px;
    height: 24px;
}

.step.active .circle {
    border-color: #8E8E8E;
    background-color: #F2F3F7;
    width: 40px;
    height: 40px;
    top: 0px;
}

.label {
    font-size: 12px;
    color: #454343;
    opacity: 0.6;
    text-align: center;
    white-space: nowrap;
    position: absolute;
    top: 45px;
    padding: 5px;
    left: 50%;
    transform: translateX(-50%);
}

.step.active .label {
    color: #000000;
    opacity: 1;
}

.link {
    font-style: italic;
    font-size: 14px;
}

.btn:hover:not(:disabled) {
    background-color: #0056b3;
}


.btn:active {
    transform: scale(0.98);
}

.btn:disabled {
    background-color: var(--secondary-color);
    cursor: not-allowed;
}

.student-proposal h4 {
  font-size: 14px;
}

.no-proposal {
  margin-top: 8px;
  font-size: 14px;
  margin-bottom: 8px;
}

/* lecturer list (alex) */

.supervisors {
    list-style: none;
    padding: 0;
    margin: 24px 0 0 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    justify-content: center
    
}

.supervisors a {
  text-decoration: none; 
  color: inherit;        
}



.supervisors li {
    padding: 0;
    border-bottom: none;
}

.profile {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    margin-left: 10px;
    margin-bottom: 5px;
}

.lecturer-avatar {
    width: 40px;
    height: 40px;
    background-color: #D9D9D9;
    border-radius: 50%;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.lecturer-information {
    display: flex;
    flex-direction: column;
}

.lecturer-content {
    display: flex;
    align-items: center;
    gap: 30px; 
    margin-bottom: 4px;
    font-size: 14px;
    font-style: bold;
}

.lecturer-name {
    color: #454343;
    font-size: 16px;
}

.capacity {
    font-size: 16px;
    color: #000000;
    margin-left: auto;
}

.last-seen,
.avg-time {
    font-size: 12px;
    opacity: 0.8;
    color: #7e7e7e;
    margin: 2px 0;
    line-height: 0.7;
}


/* topic list (alex) */
.btn-normal {
    font-size: 12px;
    font-style: italic;
}
.btn-normal:hover {
    background: none;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  background-color: #fdf5f2;
  color: #ef7575;
  border: 1px solid #f4948c;
}

.btn:hover {
    background-color: #f4c4bc;
}


/* project list (alex) */

.filter-container {
  width: auto;
  display: inline-block;
  align-items: center; 
  gap: 8px; 
}

.htmx-indicator {
  font-size: 20px;
  color: gray;
}

.filter-select-container {
  display: flex;
  align-items: center;
  gap: 0.5rem; 
}

.project-list-gapper {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    margin-left: 10px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 21px; 
}

.card-link {
    text-decoration: none;
    color: inherit;
    display: block;
    flex-shrink: 0;
}

.status-header {
    color: #7e7e7e;
    font-size: 18px;
    margin-top: 12px;
    margin-bottom: 6px;
    height: auto;
    white-space: nowrap;
}

.status-header .status-indicator-icon {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-bottom: 6px;
}


.project-card {
    color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    z-index: 0;
    width: 327px;
    height: 175px;
    font-size: 14px;
    border-radius: 12px;
    border: 2px solid #B5B5B5;
    overflow: hidden;
    background-color:#193b2a;
}

.project-card b {
    margin-left: 30px;
    top: 10px;
    vertical-align: middle;
    color: #ffffff;
    font-weight: bold;
    flex: 1;
}

.project-card ul {
    padding-left: 0;
    margin-left: 0;
}

.project-card li {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

.project-card.inner {
    position: relative;
    width: 304px;
    height: 105px;
    background-color: #F8F9FA;
    z-index: 1;
    right: -30px;
    top: 35px;
    border-radius: none;
    overflow: hidden;
}

.project-card.inner .text {
    color: #5D5D5D;
    white-space: pre-line;
    line-height: 1.6;
    opacity: 0.6;
    margin-top: 10px;
    margin-left: 10px;
}

.card-link {
    text-decoration: none;
    color: inherit;
    display: block;
}

.card-link:hover .project-card {
    background-color: #275d42;
    transition: background-color 0.2s ease-in-out;
}

.card-link:hover .project-card.inner {
    background-color: #F8F9FA;
}

.project-card.status-pending  { background-color: #284555 } 
.project-card.status-redo     { background-color: #e37401} 
.project-card.status-rejected { background-color: #a50e0f } 
.project-card.status-approved { background-color: #81a48a}



/* participants list (alex) */

.cell-link {
  display: block;        
  width: 100%;
  height: 100%;
  text-decoration: none; 
  color: inherit;        
  cursor: pointer;
}

.table-container {
  margin-left: 20px;
  width: calc(100% - 40px); 
}

.participants-table {
  width: 80%;
  border-collapse: collapse;
  border-top: 1px solid #ececea;
  border-bottom: 1px solid #ececea;
  overflow: hidden;
}

.participants .participants-table th {
  font-size: 12px;
  font-weight: normal;
  color: #8E8E8E;
  text-align: left; 
  vertical-align: middle; 
  border-bottom: 1px solid #ececea;
  border-right: 1px solid #ececea;
  padding-left: 8px;
  padding: 8px;
}

.participants .participants-table th:last-child {
  border-right: none;
}

.participants .participants-table td {
  font-size: 12px;
  font-weight: normal;
  color: #3f3c37;
  text-align: left; 
  vertical-align: middle; 
  padding: 8px; 
  border-bottom: 1px solid #ececea;
  border-right: 1px solid #ececea;
}

.participants .participants-table td:last-child {
  border-right: none;
}

.participants .participants-table tbody tr:last-child td {
  border-bottom: none;
}

.profile-container {
  display: flex;
  align-items: center;
  gap: 4px;
}

.profile-avatar {
    width: 20px;
    height: 20px;
    background-color: #D9D9D9;
    border-radius: 50%;
    flex-shrink: 0;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
}

.participants .participants-table th img {
  width: 22px; 
  height: 22px;
  vertical-align: middle; 
  display: inline-block;
  margin-bottom: 5px;
}

.status-badge {
  display: inline-flex;
  align-items: center;
  padding: 6px 12px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: normal;
  gap: 6px;
}

.status-indicator{
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.status-badge.pending { background-color: #d2e3fb; }
.status-badge.approved { background-color: #cde9d6; }
.status-badge.rejected { background-color: #fad1cf; }
.status-badge.redo { background-color: #fdf0c4; }
.status-badge.not-submitted { background-color: #f1f3f4; }

.status-indicator.pending { background-color: #284555 }
.status-indicator.approved { background-color: #81a48a }
.status-indicator.rejected { background-color: #a50e0f }
.status-indicator.redo { background-color: #e37401; }
.status-indicator.not-submitted { background-color: #9ba1a6; }

.participants-summary p {
  font-size: 14px;
  color: #7e7e7e;
  font-weight: normal;
  margin-top: 10px;
}

/* typography (keith) */

h1,
h2,
h3,
h4,
h5,
p {
    word-break: break-word;
    white-space: pre-line;
}

h1 {
    font-size: 30px;
    font-weight: bold;
    color: #000000;
    margin-top: 0px;
    margin-bottom: 0px;
}

h2 {
    font-size: 12px;
    font-weight: normal;
    color: #7e7e7e;
    margin-top: 0px;
    margin-bottom: 0px;
}

h3 {
    font-size: 16px;
    font-weight: 20px;
    color: #7e7e7e;
    margin-top: 0px;
    margin-bottom: 0px;
}

h4 {
    font-size: 20px;
    font-weight: normal;
    color: #000000;
    margin-top: 0px;
    margin-bottom: 10px;
}

h5 {
    font-size: 12px;
    font-weight: normal;
    color: #ff2b2b;
    margin-top: 0px;
    margin-bottom: 0px;
}

p {
    font-size: 12px;
    color: #000000;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: bold;
}

.description-text {
    font-size: 16px;
    margin-top: 10px;
    line-height: 1.3;
}

.lecturer-information {
    font-size: 2px;
}

.link {
    margin-left: 15px;
    margin-bottom: 12px;
}


/* forms (keith) */

input[type="text"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 10px;
    margin-bottom: 10px;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 10px;
    margin-top: 10px;
    font-family: 'Inter', sans-serif;
}

label {
    font-size: 10px;
    color: #000000;
    margin-bottom: 5px;
    align-items: center;
}

input[type="submit"] {
    background-color: #dfdfdf;
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 10px;
}

/* others */

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }
}

.rounded-add-button
{
    background-color: green;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    color: white;
    line-height: 50px;
    position: fixed;
    bottom: 50px;
    right: 50px;
}