body {
    background-color: #efefef;
    font-family: 'Inter', sans-serif;
}

html {
  scroll-behavior: smooth;
}


/* top bar (keith) */

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e1e1e1;
    overflow: hidden;
    position: fixed;
    top: 0;     
    left: 0;
    width: 100%;
    height: 70px;
    z-index: 5;
}

.topbar > a:first-child {
    color: #000000;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    flex-shrink: 0;
}

.topbar-actions {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-left: 64px;
    margin-left: auto;
}

.topbar-icon {
    display: flex;
    align-items: center;
    color: #999999;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    padding: 0 24px 0 0;
    height: 100%;
}

.topbar-icon img {
    width: 28px;
    height: 28px;
    display: block;
    color: black;
}

.topbar-info {
    vertical-align: middle;
    font-size: 14px;
    font-weight: normal;
    color: #7e7e7e;
    margin-left: 8px;
}

/* breadcrumb (keith) */

.breadcrumb {
    background-color: #b5b5b5;
    overflow: hidden;
    position: fixed;
    top: 54px;
    left: 0px;
    height: 36px;
    width: 100%;
    z-index: 5;
}

.breadcrumb a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 10px 25px;
    text-decoration: bold;
    font-size: 14px;
}

ul.breadcrumb {
    padding: 0px 0px;
    list-style: none;
}

ul.breadcrumb li {
    display: inline;
    font-size: 14px;
}

ul.breadcrumb li a {
    color: #000000;
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    background-color: #efefef;
}

ul.breadcrumb li b {
    color: #000000;
    text-decoration: none;
    margin: 0px 0px;
}

/* side bar (keith) */

.sidebar {
    height: 100%;
    width: 240px;
    position: fixed;
    z-index: 1;
    top: 106px;
    left: 0;
    background-color: #f8f9fa;
    overflow-x: hidden;
    padding: 15px 15px;
}

.sidebar a {
    padding: 10px 15px 15px 15px;
    text-decoration: none;
    font-size: 14px;
    color: #000000;
    display: block;
}

.sidebar a:hover {
    color: #58c7ff;
}

.side-action {
    margin-top: 300px;
}

.sidebar-divider {
    opacity: 0.6;
}

/* page (keith) */

.course-header {
    margin-bottom: 20px;
}

.main {
    margin-top: 120px;
    margin-left: 300px;
    margin-right: 60px;
    font-size: 28px;
    padding: 10px 0px;
    flex: auto;
}

.remindergap {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.icon {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.container {
    border-radius: 10px;
    width: 100%;
    padding: 15px;
    background-color: #f8f9fa;
    margin-bottom: 20px;
}

.section-description {
    color: #454343;
    opacity: 0.7;
}

.empty-state {
    margin-top: 10px;
}


/* progress container (alex) */

.status-bar-header {
    margin-left: 16px;
}

.status-bar-container {
    background-color: inherit;
    margin-bottom: 30px;
    margin-top: 30px;
}

.progress-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    max-width: 100%;
    width: 500px;
    height: 60px;
    margin: auto;
}

.progress-container::before {
    content: "";
    background-color: #8E8E8E;
    position: absolute;
    top: 20px;
    left: 0;
    height: 2px;
    width: 100%;
    z-index: 1;
}

.progress {
    background-color: #8E8E8E;
    position: absolute;
    top: 20px;
    left: 0;
    height: 4px;
    width: 0%;
    z-index: 2;
    transition: 0.4s ease;
}

.step {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 3;
}

.circle {
    background-color: #fff;
    color: #999;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #8E8E8E;
    transition: 0.4s ease;
    margin-bottom: 8px;
    position: absolute;
    top: 12.5px;
    left: 50%;
    transform: translateX(-50%);
}

.circle img {
    width: 12px;
    height: 12px;
    display: none;
}

.step.active .circle img {
    display: block;
    width: 24px;
    height: 24px;
}

.step.active .circle {
    border-color: #8E8E8E;
    background-color: #F2F3F7;
    width: 40px;
    height: 40px;
    top: 0px;
}

.label {
    font-size: 12px;
    color: #454343;
    opacity: 0.6;
    text-align: center;
    white-space: nowrap;
    position: absolute;
    top: 45px;
    padding: 5px;
    left: 50%;
    transform: translateX(-50%);
}

.step.active .label {
    color: #000000;
    opacity: 1;
}

.btn {
    background-color: var(--primary-color);
    color: #000000;
    border: 0;
    font-family: inherit;
    padding: 8px 30px;
    margin: 5px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.2s ease;
}

.btn:hover:not(:disabled) {
    background-color: #0056b3;
}

.btn:active {
    transform: scale(0.98);
}

.btn:disabled {
    background-color: var(--secondary-color);
    cursor: not-allowed;
}

/* lecturer list (alex) */

.supervisors {
    list-style: none;
    padding: 0;
    margin: 24px 0 0 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    justify-content: center
    
}

.supervisors a {
  text-decoration: none; 
  color: inherit;        
}



.supervisors li {
    padding: 0;
    border-bottom: none;
}

.profile {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    margin-left: 10px;
    margin-bottom: 5px;
}

.lecturer-avatar {
    width: 40px;
    height: 40px;
    background-color: #D9D9D9;
    border-radius: 50%;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.lecturer-information {
    display: flex;
    flex-direction: column;
}

.lecturer-content {
    display: flex;
    align-items: center;
    gap: 30px; 
    margin-bottom: 4px;
    font-size: 14px;
    font-style: bold;
}

.lecturer-name {
    color: #454343;
    font-size: 16px;
}

.capacity {
    font-size: 16px;
    color: #000000;
    margin-left: auto;
}

.last-seen,
.avg-time {
    font-size: 12px;
    opacity: 0.8;
    color: #7e7e7e;
    margin: 2px 0;
    line-height: 0.7;
}

/* topic list (alex) */
.btn-normal {
    font-size: 12px;
    font-style: italic;
}
.btn-normal:hover {
    background: none;
}


/* project list (alex) */

.project-list-gapper {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    margin-left: 10px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 21px; 
}

.card-link {
    text-decoration: none;
    color: inherit;
    display: block;
    flex-shrink: 0;
}

.project-card {
    color: #FFFFFF;
    background-color: #1d2f24;
    display: flex;
    flex-wrap: wrap;
    z-index: 0;
    width: 327px;
    height: 175px;
    font-size: 14px;
    border-radius: 12px;
    border: 2px solid #B5B5B5;
    overflow: hidden;
}

.project-card b {
    margin-left: 30px;
    top: 10px;
    vertical-align: middle;
    color: #ffffff;
    font-weight: normal;
    flex: 1;
}

.project-card ul {
    padding-left: 0;
    margin-left: 0;
}

.project-card li {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

.project-card.inner {
    position: relative;
    width: 304px;
    height: 105px;
    background-color: #F8F9FA;
    z-index: 1;
    right: -30px;
    top: 35px;
    border-radius: none;
    overflow: hidden;
}

.project-card.inner .text {
    color: #5D5D5D;
    white-space: pre-line;
    line-height: 1.6;
    opacity: 0.6;
    margin-top: 10px;
    margin-left: 10px;
}

.card-link {
    text-decoration: none;
    color: inherit;
    display: block;
}

.card-link:hover .project-card {
    background-color: #275d42;
    transition: background-color 0.2s ease-in-out;
}

.card-link:hover .project-card.inner {
    background-color: #F8F9FA;
}

/* participants list (keith) */

.participants {
    list-style: none;
    padding: 0;
    margin: 24px 0 0 0;
    display: block;
    gap: 20px;
    justify-content: center;
    height: 500px;
    overflow-y: scroll;
}

.participants li {
    padding: 0;
    border-bottom: none;
}

.participants-block {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 10px;
    margin-top: 10px;
}

.participants-block avatar {
    width: 40px;
    height: 40px;
    background-color: #D9D9D9;
    border-radius: 50%;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.participants-block name {
    min-width: 400px;
    font-size: 20px;
    color: #454343;
    margin: 0;
    align-self: center;
    display: block;
}

.blob {
    height: 30px;
    min-width: 200px;
    border-radius: 12px;
    margin-left: 100px;
    background: #d9d9d9;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    font-style: normal;
    padding: 0 10px;
    font-size: 14px;
    color: #ffffff;
}

.blob-group{
    height: 30px;
    min-width: 100px;
    border-radius: 12px;
    margin-left: 100px;
    background: #d9d9d9;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    font-style: normal;
    padding: 0 10px;
    font-size: 14px;
}

/* typography (keith) */

h1,
h2,
h3,
h4,
h5,
p {
    word-break: break-word;
    white-space: pre-line;
}

h1 {
    font-size: 30px;
    font-weight: bold;
    color: #000000;
    margin-top: 0px;
    margin-bottom: 0px;
}

h2 {
    font-size: 12px;
    font-weight: normal;
    color: #7e7e7e;
    margin-top: 0px;
    margin-bottom: 0px;
}

h3 {
    font-size: 16px;
    font-weight: 20px;
    color: #7e7e7e;
    margin-top: 0px;
    margin-bottom: 0px;
}

h4 {
    font-size: 20px;
    font-weight: normal;
    color: #000000;
    margin-top: 0px;
    margin-bottom: 10px;
}

h5 {
    font-size: 12px;
    font-weight: normal;
    color: #ff2b2b;
    margin-top: 0px;
    margin-bottom: 0px;
}

p {
    font-size: 12px;
    color: #000000;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: bold;
}

.description-text {
    font-size: 16px;
    margin-top: 10px;
    line-height: 1.3;
}

.lecturer-information {
    font-size: 2px;
}



/* forms (keith) */

input[type="text"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 10px;
    margin-bottom: 10px;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 10px;
    margin-top: 10px;
}

label {
    font-size: 10px;
    color: #000000;
    margin-bottom: 5px;
    align-items: center;
}

input[type="submit"] {
    background-color: #dfdfdf;
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 10px;
}

/* others */

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }
}

.rounded-add-button
{
    background-color: green;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    color: white;
    line-height: 50px;
    position: fixed;
    bottom: 50px;
    right: 50px;
}
