.form-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.options-area {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.option {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.submit-btn,
.add-option,
.remove {
  align-self: start;
}
