<!DOCTYPE html>
<html>

<head>
    <div class="topbar">
        <a href="#home">Willie's Dashboard</a>
    </div>
    <ul class="breadcrumb">
        <li><a href="user_course.html">Home</a></li>
    </ul>
</head>

<body>
    <div class="sidebar">
        <a href="#home">Courses</a>
    </div>
    <div class="main">
        <h1>Dashboard</h1>
        <h3>Your Courses</h3>
        <br>
        <div class="remindergap">
            <h5><img src="info.png" class="icon" size="20S">You have no courses at the moment. Please create one.</h5>
        </div>
        <h3 style="text-align: center;">// button with centered styling //</h3>
    </div>
</body>

</html>
