<% content_for :title, "Lecturers in #{@course.course_name} | ProPro" %>

<h1>Lecturers in <%= @course.course_name.truncate(20) %></h1>

<ul>
  <% @lecturers.each do |lecturer| %>
    <li>
      <p><strong>Name: </strong><%= link_to lecturer.username, course_lecturer_path(@course, lecturer) %></p>
    </li>
  <% end %>
</ul>