html, body {
  height: 100%;
  font-family: 'Inter', sans-serif;
  background: #F8F9FA;
}

body {
  display: grid;
  grid-template-rows:
    80px   
    44px  
    1fr;   
  grid-template-columns:
    255px 
    1fr;   
  grid-template-areas:
    "topbar topbar"
    "breadcrumb breadcrumb"
    "sidebar course";
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 327px);
    gap: 20px;
    justify-content: start;
}

#topic-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 327px);
    gap: 20px;
    justify-content: start;
}

.project-card {
    color: #FFFFFF;
    background-color: #1d2f24;
    display: flex;
    flex-wrap: wrap;
    z-index: 0;
    width: 327px;
    height: 175px;
    font-size: 14px;
    border-radius: 12px;
    border: 2px solid #B5B5B5;
    overflow: hidden;
}

.project-card .lecturer {
  position: relative;
  right: -30px;
  top: -20px;

}

.project-card h4 {
  position: relative;
  right: -30px;
}

.project-card ul {
  padding-left: 0;
  margin-left: 0;
}

.project-card li {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

.project-card.inner {
  position: relative;
  width: 304px;
  height: 105px;
  background-color: #F8F9FA;
  z-index: 1;
  right: -30px;
  top: -20px;
  border-radius: none;
  overflow: hidden;
}

.project-card.inner .text{
  color: #5D5D5D;
  white-space: pre-line;
  line-height: 1.4;
} 

.card-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.card-link:hover .project-card {
  background-color: #275d42; 
  transition: background-color 0.2s ease-in-out;
}

.card-link:hover .project-card.inner {
  background-color: #F8F9FA;
}